<div class="votingHistory">
    <div class="histoH">
        <h2>Historique</h2>
    </div>

    <div class="blockHisto">
        <div class="votes" *ngFor="let vote of votes; let index = index;" >
            <div class="oneHisto">
                <img [src]="vote.colleague.photo" alt="photo">
                <div class="note">
                    <p>Collègue: {{ vote.colleague.pseudo }}</p>
                    <p>{{ vote.colleague.pseudo }}  a un score de : {{ vote.score }} </p>
                    <button class="supp" (click)="deleteVote(index)">supprimer</button>
                </div>
            </div>
        </div>
    </div>
</div>