<div class="votingHistory">
    <div class="histoH">
        <h2>Historique</h2>
    </div>

    <div class="blockHisto">
        <div *ngFor="let vote of votes; let index = index;" >
            <div *ngIf="index <= 4" class="oneHisto">
                <img [src]="vote.colleague.photo" alt="photo">
                <div class="note">
                    <p>Collègue: {{ vote.colleague.pseudo }}</p>
                    <p>{{ vote.colleague.pseudo }} a un score de : {{ vote.colleague.score }}</p>
                    <button class="supp" (click)="deleteVote(vote)">supprimer</button>
                </div>
            </div>
        </div>
    </div>
</div>