.colleague-card {
    background-color: #f4f4f4; 
    padding: 10px;
    border: 1px solid #ccc; 
    margin: 10px;
    text-align: center;
    a {
        text-decoration: none;
        color: #333; 
    }
    img {
        max-width: 150px;
        height: auto;
    }
    h3 {
        margin-top: 10px;
        font-size: 20px;
    }
    p {
        margin: 10px 0;
        font-size: 16px;
    }
}


