.colleague {
    display: flex;
}

.colleague-card {
    border: solid black 2px;
    width: 300px;
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    a {
        text-decoration: none;
        color: black;
        img {
            max-width: 150px;
        }

        h3 {
            font-size: medium;
        }

    }
}