.welcomeBlock {
    button {
        margin-top: 20px;
    }

    .block {
        display: flex;
        margin-top: -30px;

    }
}


tc-colleague-list {
    width: 70%;
}

tc-votinghistory {
    width: auto;
}