<p>login works!</p>
<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
        <label for="pseudo">Pseudo: </label>
        <input type="text" id="pseudo" formControlName="pseudo">
        <!-- <div
            *ngIf="createColleagueForm.get('pseudo').hasError('pseudoExists') && createColleagueForm.get('pseudo').touched">
            <div class="alert alert-danger">{{ createColleagueForm.get('pseudo').getError('pseudoExists') }}</div>
        </div> -->
    </div>
    <div class="form-group">
        <label for="password">password: </label>
        <input type="text" id="password" formControlName="password">
        <!-- <div
            *ngIf="createColleagueForm.get('pseudo').hasError('pseudoExists') && createColleagueForm.get('pseudo').touched">
            <div class="alert alert-danger">{{ createColleagueForm.get('pseudo').getError('pseudoExists') }}</div>
        </div> -->
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>