.button {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        background-color: #007BFF;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        cursor: pointer;
        margin: 5px;

        span {
            font-size: 16px;
        }

        &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }

        &.like {
            background-color: #007BFF;
        }

        &.hate {
            background-color: #FF5733;
        }
    }
}
